<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>生活社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
    window.onload=function () {
        var closeable=window.localStorage.getItem("iteam");
        if (closeable=="true"){
            window.close();
            window.localStorage.removeItem("iteam");
        }
    }
</script>
<body>

<nav class="navbar navbar-default">
    <div th:insert="~{navigation.html :: nav}"></div>
    <div class="container-fluid  public-container ">
        <div class="row main" >
            <div class="col-lg-9 col-md-12 	col-xs-12 col-sm-12 ">
                <h2><span class="glyphicon glyphicon-list-alt " aria-hidden="true">发现</span></h2>
                <hr>
                <div class="media" th:each="question : ${questions}">
                    <div class="media-left img-warper">
                        <a th:href="@{/question(id=${question.user.id})}">
                            <img class="media-object img-warper"  th:src="${question.user.avatarUrl}"  alt="...">
                        </a>
                    </div>
                    <div class="media-body" >
                        <h4 class="media-heading" ><a  th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a></h4>
                        <p th:text="${question.description}" class="description-ignore"></p>
                         <div class="comment-warper">
                             <p class="catch" th:text="${question.commentCount}" ></p>个评论·&nbsp;&nbsp;&nbsp;
                            <p class="catch" th:text="${question.viewCount}"></p>个观看·&nbsp;&nbsp;&nbsp;
                             <p class="catch" th:text="${question.likeCount}"></p>个人喜欢·&nbsp;&nbsp;&nbsp;
                             <p class="catch" th:text="${#dates.format(question.gmtCreate,'yyyy-MMMM-dd HH:mm')}"></p>
                        </div>
                </div>
                    </div>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a th:if="${currentPage}!=0" href="/frist?currentPage=0" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a th:if="${currentPage}-2>=0" th:href="@{/frist(currentPage=${currentPage}-2,search=${search})}" th:text="${currentPage}-1"></a></li>
                        <li><a th:if="${currentPage}-1>=0" th:href="@{/frist(currentPage=${currentPage}-1,search=${search})}" th:text="${currentPage}"></a></li>
                        <li><a  th:if="${currentPage}>=0" th:href="@{/frist(currentPage=${currentPage},search=${search})}" th:text="${currentPage}+1" ></a></li>
                        <li><a th:if="${currentPage}+1<${pageSum}"   th:href="@{/frist(currentPage=${currentPage+1},search=${search})}" th:text="${currentPage}+2"></a></li>
                        <li><a th:if="${currentPage}+2<${pageSum}" th:href="@{/frist(currentPage=${currentPage}+2,search=${search})}" th:text="${currentPage}+3"></a></li>
                        <li>
                            <a th:if="${currentPage}<=${pageSum}-1 and (${pageSum}-1)>=0" th:href="@{/frist(currentPage=${pageSum}-1)}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                        </div>
            <div class="col-lg-3 col-md-12 	col-xs-12 col-sm-12 " >
                <h2><span  aria-hidden="true">关注站长</span></h2>
                <img src="/images/vx.png" alt="" class="col-lg-12">
            </div>
        </div>

        </nav>
    </div>
</nav>
<!--<script src="static/js/jquery-3.4.1.min.js"></script>-->
<!--<script src="static/js/bootstrap.min.js"></script>-->

</body>
</html>